
.idea/dictionaries/MatsSteinweg.xml
.idea/EWS-MPC.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/map.cpython-37.pyc
__pycache__/MPC.cpython-37.pyc
__pycache__/reference_path.cpython-37.pyc
__pycache__/spatial_bicycle_models.cpython-37.pyc
*.mp4
*.DS_Store
.gitattributes
.idea
